[submodule "lib/threads-scad"]
	path = lib/threads-scad
	url = git@github.com:rcolyer/threads-scad.git
[submodule "lib/round-anything"]
	path = lib/round-anything
	url = git@github.com:Irev-Dev/Round-Anything.git
